.formContainer {
    display: flex;
    flex-direction: column;
}

.card {
    width: 90%;
    text-align: left;
    border-radius: 4px;
    padding: 0 40px;
    border: 2px solid rgb(255,255,252);
    background-color: rgba(70, 25, 10, 0.9);
}


.sectionOne, .sectionTwo, .aboutReservation {
    display: flex;
    flex-direction: column;
    gap:4px;
}

.sectionTwo {
    margin: 20px 0;
    border-top: 1px solid ;
}

.aboutReservation {
    border-top: 1px solid rgb(255,255,252);
    padding-top: 20px;
    margin-top: 20px;
}

.formHeading {
    font-size: 32px;
    border-bottom: 1px solid rgb(255,255,252);
    padding-bottom: 10px;
    margin-top: 18px;
    margin-bottom: 0;
}

.asterisk{
    color: yellow;
    font-weight: bold;
}

.label {
    border-radius: 6px;
    text-shadow: 2px 2px 4px hsl(15, 75%, 26%);
}

.inputs, .optionVal, #firstName, #lastName, #date, #time {
    font-weight: 500;
    border: 4px solid transparent;
    border-radius: 4px;
    padding: 6px;
    margin: 6px 0;
}

.dateTime, .fullName {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 21px 1fr;
    align-items: center;
    column-gap: 16px;
    row-gap: 4px;
}

#date, #firstName {
    grid-row: 2;
}

.button {
    color: inherit;
    background-color: hsl(15, 75%, 16%);
    align-self: center;
    font-size: 18px;
    border-radius: 60px;
    border: 2px solid rgb(255,255,252);
    padding: 10px 26px;
    width: 140px;
    margin: 10px 0 30px;
}

 .inputs:hover, .optionVal:hover, #firstName:hover, #lastName:hover, #date:hover, #time:hover,
 .inputs:focus, .optionVal:focus, #firstName:focus, #lastName:focus, #date:focus, #time:focus {
    background-color: hsl(15, 75%, 90%);
    cursor: pointer;
}

.button:hover,.button:focus {
    background-color: hsl(15, 75%, 20%);
}

