body {
    padding: 0;
    margin: 0 auto;
    width: 100vw;
    font-size: 18px;
    background-image: url("assets/images/adrien-olichon-ZgREXhl8ER0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.container {
    display: flex;
    flex-direction: column;
    color: white;
}

.appHeading {
    background-color:rgb(70,25,10, 0.7);
    font-size: 24px;
    align-self: start;
    padding: 30px;
    width: 100vw;
}

.formHolder {
    align-self: center;
    margin-top: 80px;
    max-width: 800px;
}